{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div class="image-container">
		<div class="download">
			<a href="{{photo.image.url}}" download><button>Download</button></a>
		</div>
		<div class="image-detail">
			<img src="{{photo.image.url}}">
		</div>
	</div>
{% endblock %}