{% extends 'base.html' %}

{% block content %}
	<div class="image-container">
		{% for photo in photos.all %}
			
			<div class="image-div">
				<div class="image">
					<a href="{% url 'detail' photo.id %}"><img src="{{photo.image.url}}"></a>
				</div>
				<div class="delete">
					<a style="color: white;" href="{% url 'delete' photo.id %}"><p>Delete</p>
				</div>
			</div>
			{% empty %}
			<p class="info">You have no images uploaded.</p>
		{% endfor %}
	</div>
{% endblock %}