{% extends 'base.html' %}


{% block content %}
<div class="upload-form">
	<h2>Upload Photo and Choose Styling</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
 </div>
{% endblock %}