{% load static %}
{% block content %}
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Signup{% endblock %}</title>
		<link href="{% static "css/base.css" %}" rel="stylesheet">
	</head>
	<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>Photo<span>Styler</span></div>
	</div>
	<br>
	<div class="login">
		<form method="post">
		{% csrf_token %}
		{% for field in form %}
			
			{{ field.label_tag }}<br>
			{{ field }}<br>
			{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
			{% endfor %}
			
		{% endfor %}
		<input type="submit" value="Signup">
	</form>
	<div class="login-bottom">
		<a href="{% url 'login' %}" style="color: white"><p>Return to Login.</p></a>
	</div>
</div>
{% endblock %}