{% load static %}
{% block content %}
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}PhotoStyler{% endblock %}</title>
		<link href="{% static "css/base.css" %}" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
	</head>
	<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>Photo<span>Styler</span></div>
	</div>
	<br>
	<div class="login">
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% else %}
			
		{% endif %}
		
		<form action="{% url 'login' %}" method="post">
			<input type="text" placeholder="username" name="username" required id="id_username"><br>
			<input type="password" placeholder="password" name="password" required id="id_password"><br>
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<input type="submit" value="Log-in">
		</form>
		<div class="login-bottom">
			<p style="color: white">No account?</p>
			<a href="{% url 'signup' %}" style="color: white"><p>Sign-up now.</p></a>
		</div>
	</div>
{% endblock %}